.mainSwitchBox {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
}
.mainSwitchBtn {
  width: 200px;
  height: 50px;
  font-size: 20px;
  background-color: transparent;
  color: white;
}
.mainSwitchBtn:hover {
  background-color: #6b6b6a;
}
body {
  background-color: #30302f;
  overflow: hidden;
}
