.vertical .verticalDiv .button {
  margin-top: 80px !important;
}
.vertical .mantine-iprvg2 {
  height: 73%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vertical .mantine-6ym9d2.mantine-Carousel-indicators {
  height: 150px;
  left: 200px;
  top: 270px;
}

.vertical .mantine-1agetca.mantine-Carousel-controls {
  height: 860px;
  bottom: -23px;
  z-index: 1;
  top: unset;
}
.mantine-Carousel-root {
  position: relative;
}

.vertiBtnBox {
  bottom: 500px;
  gap: 20px;
  left: 1100px;
  display: flex;
  position: relative;
  flex-direction: column;
}
.vertiBtn {
  width: 70px;
  height: 50px;
  font-size: 20px;
  background-color: tomato;
  color: azure;
  cursor: pointer;
}
.vertiBtn:hover {
  background-color: antiquewhite;
  color: black;
}
