.vertical .verticalDiv .button {
  margin-top: 80px !important;
}
.vertical .mantine-iprvg2 {
  height: 73%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vertical .mantine-6ym9d2.mantine-Carousel-indicators {
  height: 150px;
  left: 200px;
  top: 270px;
}

.vertical .mantine-1agetca.mantine-Carousel-controls {
  height: 870px;
  bottom: -23px;
  z-index: 1;
  top: unset;
}
.mantine-Carousel-root {
  position: relative;
}

.vertiBtnBox {
  bottom: 500px;
  gap: 20px;
  left: 1100px;
  display: flex;
  position: relative;
  flex-direction: column;
}
.vertiBtn {
  width: 70px;
  height: 40px;
  font-size: 20px;
  background-color: #b8b8b8;
  border: 1px solid #ffffff;
  border-radius: 15px;
  color: #3b3939;
  cursor: pointer;
}
.vertiBtn:hover {
  background-color: #6b6b6a;
  color: #ffffff;
}
